.bold{font-weight: bold;}

.italic{
    font-style: italic;
    font: italic;
    
}

li{text-align: justify;}


a{
    text-decoration: none;
    color: #0085A1;
    font-style: normal;
}
a:hover{
    text-decoration: none;
    color: black;
    text-align: center;
}

.center{
    object-position: center;
}

img{
    position: relative;
    margin-left: 20px;
}

.justify{text-align: justify;}

.menuinpage{
    text-align: right;
    font-size: 11pxs;
}

.contact{
    margin-right: 20px;
    padding-right: 20px;
}